/*==================================================
  Background Options
==================================================== */
.bg-tp {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.bg-gradient {
    border-color: rgba(0, 0, 0, 0.07) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2);
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 1%, rgba(255, 255, 255, 0.15) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80ffffff', endColorstr='#00ffffff', GradientType=0);
}
.bg-background {
    z-index: 0;
    color: #FFF;
    position: relative;
}
.bg-background.bg-topbar {
    background: url("../img/patterns/topbar-bg.jpg") no-repeat center left;
}
.bg-background.bg-topbar2 {
    background: url("../img/patterns/topbar-bg2.jpg") no-repeat center left;
}
.bg-background.bg-topbar3 {
    background: url("../img/patterns/topbar-bg3.jpg") no-repeat center left;
}
.bg-background.bg-psuedo-tp:before,
.bg-background.bg-psuedo-tp-dark:before,
.bg-background.bg-psuedo-tp-light:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}
.bg-background.bg-psuedo-tp-dark:before {
    background: rgba(0, 0, 0, 0.6);
}
.bg-background.bg-psuedo-tp-light:before {
    background: rgba(0, 0, 0, 0.2);
}
