/*==================================================
  Pricing Tables
==================================================== */
/* Regular Pricing Plan */
.pricing-table .pricing-plan {
  margin: 30px -16px 20px -16px;
  border: 1px solid #DDD;
  background-color: #fafafa;
  text-align: center;
}
/* Plan Header */
.plan-header {
  height: 76px;
  background: #f4f4f4;
  padding: 25px 5px 20px;
}
/* Header Title */
.plan-header h2 {
  margin-bottom: 5px;
  font-weight: 200;
}
/* Header SubTitle */
/* Pricing Table Cost Figure */
.plan-pricing {
  height: 124px;
  padding: 23px 0 24px;
  border-top: 1px solid #e7e7e7;
}
.plan-pricing span {
  color: #333;
  font-size: 26px;
  font-weight: 200;
  display: inline-block;
  vertical-align: top;
  margin-left: -20px;
  padding-left: 5px;
  padding-top: 6px;
}
.plan-pricing h2 {
  display: inline-block;
  margin: 0;
  color: #555;
  font-size: 54px;
  font-weight: 600;
}
.plan-pricing h6 {
  color: #888;
  font-size: 12px;
  font-weight: 200;
  margin: 4px 0 0;
}
/* Pricing Table Item Features */
.plan-features ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: 1px solid #e7e7e7;
}
.plan-features li {
  padding: 12px 0;
  border-bottom: 1px solid #e7e7e7;
  background-color: #FFF;
  color: #999;
  margin: 0;
}
.plan-features li:last-child {
  border-bottom: 0;
}
.plan-features li b {
  font-weight: 600;
}
.plan-features li i.fa {
  font-size: 15px;
  color: #777;
  padding-right: 8px;
}
/* Pricing Table Icons */
.plan-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.plan-icons li {
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
  background-color: #FFF;
  font-size: 18px;
  margin: 0;
}
.plan-icons li:last-child {
  border-bottom: 0;
}
/* Pricing Table Sign Up Button*/
.plan-footer {
  border-top: 1px solid #e7e7e7;
}
.plan-footer .btn {
  margin: 20px 0;
  padding: 8px 26px;
}
/* Hero Pricing Plan Modifications */
.hero-plan {
  z-index: 10;
}
.hero-plan .pricing-plan {
  background-color: #f6f6f6;
  padding: 0 0 20px 0;
  margin: 0 -17px 20px -17px;
  border-bottom: 1px solid #BBB;
  -webkit-box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
  box-shadow: 0 0 20px rgba(100, 100, 100, 0.2);
}
.hero-plan .pricing-plan .pricing-title {
  color: #FFF;
  margin: -1px -1px 0 -1px;
}
.hero-plan .pricing-plan .pricing-title h2 {
  color: #FFF;
  font-weight: 600;
}
.hero-plan .pricing-plan .pricing-subtitle {
  text-transform: uppercase;
  font-size: 12px;
  margin-top: 4px;
  font-weight: 600;
}
.hero-plan .pricing-plan a.btn {
  margin: 40px 0 20px;
}
.pricing-compare .plan-desc {
  height: 200px;
  text-align: center;
  padding: 25px 15px 10px;
}
.pricing-compare .plan-desc h2 {
  font-weight: 400;
}
.pricing-compare .plan-desc h6 {
  font-weight: 400;
}
.pricing-compare .plan-desc span {
  color: #3078d7;
  font-size: 24px;
  padding: 13px 0 24px;
}
