/*
=======================================
1.  login.html
=======================================
*/
/* login.html */
.xx_title{
    font-size:16px;
    color:#fff;
}
.xx_color_info{
    color:#5CA68E;
}
.xx_color_gray{
    color:#CECECE;
}
.xx_font_big1{
    font-size:1.1em !important;
}
.xx_font_big2{
    font-size:1.2em !important;
}
.xx_font_big5{
    font-size:1.5em !important;
}
.xx_font_big6{
    font-size:1.6em !important;
}
.admin-form .xx_bg_color1,
.admin-form .xx_bg_color1:hover,
.admin-form .xx_bg_color1:focus,
.admin-form .xx_bg_color2,
.admin-form .xx_bg_color2:hover,
.admin-form .xx_bg_color2:focus,
.admin-form .xx_bg_color3,
.admin-form .xx_bg_color3:hover,
.admin-form .xx_bg_color3:focus {
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.admin-form .xx_bg_color1{
    background-color: #83D944;
}
.admin-form .xx_bg_color1:hover,
.admin-form .xx_bg_color1:focus {
    background-color: #62BF1F;
}

.admin-form .xx_bg_color2 {
    background-color: #00acee;
}
.admin-form .xx_bg_color2:hover,
.admin-form .xx_bg_color2:focus {
    background-color: #00749F;
}
.admin-form .xx_bg_color3 {
    background-color: #F0B419;
}
.admin-form .xx_bg_color3:hover,
.admin-form .xx_bg_color3:focus {
    background-color: #DF6726;
}
.xx_btn-lg,
.xx_btn-group-lg > .btn {
    padding: 12px 50px;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 3px;
}
